@charset "utf-8";

.top {
  background-image: linear-gradient(to bottom, #ccc, #111);
  border: 4px double #000;
}

.gnb {
  width: 800px;
  margin: 0 auto;
}

.gnb ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.gnb li {
  margin: 0 10px;
}

.gnb a {
  color: #fff;
  text-decoration: none;
}

.gnb a:hover {
  color: hotpink;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-shadow: 2px 2px 2px #555;
}

.menu > li > a {
  text-decoration: none;
  letter-spacing: -2px;
  color: #333;
  letter-spacing: -2px;
  font-weight: 600;
  position: relative;
}

.menu > li > a::after {
    min-width: 433px;
    min-height: 36px;
    left: 0;
    right: 0;
    z-index: 999;
}

.menu > li.active > a::after {
    content: '';
    position: absolute;
    background: url(../images/check.png) no-repeat;
    background-position: center;
    background-size: contain;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.overlay {
    background: #f9f9f9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
}

h1 {
  text-align: center;
}

.icon-wrap {
  position: absolute;
  right: 30px;
  top: 1.8rem;
  height: 32px;
  display: none;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 999;
}

.icon {
  background: #000;
  width: 22px;
  height: 2.5px;
  display: block;
  border-radius: 20px;
  transition: 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.top_bar {
  position: absolute;
  bottom: 0.4rem;
}

.middle_bar {
  height: 2.4px;
}

.bottom_bar {
  position: absolute;
  top: 0.5rem;
}

.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #1B191C;
    z-index: 2;
}

.menu > li {
    font-size: 10vw;
    text-align: center;
    white-space: nowrap;
    line-height: 1.5;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 20px;
}

/* 메인영역 */
.cont {
  text-align: center;
  padding: 30px;
}

.cont img {
  max-width: 100%;
}

iframe {
  width: 731px;
  height: 412px;
}

.overlay.active {
    display: block;
}

/* 하단영역 */
.info {
  text-align: center;
  padding: 30px;
  background-image: linear-gradient(to bottom, #ccc, #777);
  color: #fff;
}

@media screen and (max-width: 730px) {
  .gnb > ul > li ~ li {
    display: none;
  }

  .icon-wrap {
    display: block;
  }
}

@media screen and (min-width: 730px) {
    .overlay {
        display: none !important;
    }
}